body, html, #wrapper
{
    display: block;
    position: relative;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    min-height: 1024px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'MedievalSharp', sans-serif;
    font-size: 14px;
    overflow: hidden;
    overflow-y: auto;
}

#wrapper
{
    background: url('/img/interface/bg.jpg') no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

h1{
    display: block;
    position: relative;
    top: 12px;
    width: 300px;
    height: 88px;
    line-height: 92px;
    text-align: center;
    overflow: hidden;
    margin: auto;
    color: black;
    background: url('/img/interface/header.png');
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.content{
    display: block;
    position: relative;
    top: 32px;
    margin: auto;
    margin-bottom: 96px;
    width: 996px;
    height: 596px;
    background: rgba(255,255,255,0.2);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
}

.box-shadow{
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 2px 2px rgba(255,255,255,0.4);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
}
.info-bar{
    display: block;
    position: absolute;
    right: 12px;
    top: 72px;
    width: 320px;
    height: 512px;
    background: rgba(0,0,0,1);
}

.status-bar{
    display: block;
    position: absolute;
    left: 12px;
    top: 12px;
    width: 972px;
    height: 48px;
    background: rgba(0,0,0,1);
    color: #cbcbcb;
}
.text-bar{
    display: inline-block;
    position: relative;
    width: auto;
    height: 40px;
    padding-right: 10px;
    line-height: 40px;
    margin: 4px 20px;
    font-size: 24px;
}
.right-border{
    padding-right: 20px;
    border-right: 1px dashed #808080;
}
.health-bar{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding-left: 80px;
    font-size: 24px;
    background: url('/img/interface/heart.png') left center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.attack-bar{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding-left: 46px;
    font-size: 24px;
    background: url('/img/interface/weapon.png') left center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.boss-bar{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding-left: 46px;
    font-size: 24px;
    background: url('/img/interface/death.png') left center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.points-bar{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin-top: 4px;
    padding-left: 46px;
    font-size: 24px;
    background: url('/img/interface/points.png') left center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.playboard{
    display: block;
    position: absolute;
    left: 12px;
    top: 72px;
    width: 640px;
    height: 512px;
    background: rgba(0,0,0,1);
}
.auth-form{
    display: block;
    width: 245px;
    margin: auto;
    margin-top: 200px;
}
.auth-input-username {
    border: 1px solid white;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    padding: 10px;
    background: rgba(255,255,255,0.9);
}
.auth-input-submit {
    border:1px solid transparent;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    height: 37px;
    background: rgba(255,255,255,0.7);
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.board-actions{
    display: block;
    width: 280px;
    height: 40px;
    margin: auto;
    padding: 10px;
}
.refresh-button {
    display: inline-block;
    width: 40%;
    border:1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 255, 39, 0.7);
    color: #000000;
    cursor: pointer;
    text-align: center;
}
.reset-button {
    display: inline-block;
    width: 40%;
    border:1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255, 0, 67, 0.7);
    color: #000000;
    cursor: pointer;
    text-align: center;
}
.help-button {
    display: inline-block;
    width: 14%;
    border:1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 37px;
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.top-players{
    display: block;
    width: 300px;
    height: 452px;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}
.top-players .player{
    display: block;
    width: 100%;
    height: 35px;
    margin: auto;
}
.top-players .player .player-username{
    display: inline-block;
    width: 120px;
    height: 35px;
    text-align: left;
}
.top-players .player .player-points, .top-players .player .player-bosses{
    display: inline-block;
    width: 50px;
    height: 35px;
}


.card {
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 2px;
}
.action {
    display: block;
    width: 58px;
    height: 58px;
    background: url('/img/interface/room.png') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.action div{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.action div.action-active{
    cursor: pointer;
}
.action div.action-active:hover{
    filter: blur(1px);
    -ms-filter: blur(1px);
    -webkit-filter: blur(1px);
}
.action .action-active.action-item{
    background: url('/img/interface/item.gif') center center no-repeat;
}
.action .action-active.action-monster{
    background: url('/img/interface/monster.gif') center center no-repeat;
}
.action .action-active.action-boss{
    background: url('/img/interface/boss.gif') center center no-repeat;
}
.action .action-active.action-point{
    background: url('/img/interface/point.gif') center center no-repeat;
}

.action .action-done.action-item{
    background: url('/img/interface/item.png') center center no-repeat;
}
.action .action-done.action-monster{
    background: url('/img/interface/monster.png') center center no-repeat;
}
.action .action-done.action-boss{
    background: url('/img/interface/boss.png') center center no-repeat;
}
.action .action-done.action-point{
    background: url('/img/interface/point.png') center center no-repeat;
}
.action .last-room{
    background: url('/img/interface/treasure.png') center center no-repeat;
    background-size: contain;
}
#help-modal .card
{
    width: 32px;
    height: 32px;
}
#help-modal .card .action
{
    width: 30px;
    height: 30px;
}
#help-modal .card .action div
{
    -webkit-background-size: cover;
    background-size: cover;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span:hover{
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 10s infinite linear;
    -moz-animation: scroll 10s infinite linear;
    animation: scroll 10s infinite linear;
}

.ui-dialog,
.ui-dialog-titlebar,
.ui-dialog-buttonpane,
#help-modal
{
    font-size: 20px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid #cbcbcb;
    color: #cbcbcb;
}
.ui-dialog-buttonpane
{
    font-size: 13px;
}
